/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
body { 
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	background-image: url("img/tamsusLFGC.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Russo One', sans-serif;
	height: 100vh;
	}
p{
	color:#ff1900;
	font-size:2em;
	text-align:left;
	margin:0;
}
h1 {
	color:#ff1900;
	font-size:2.5em;
	text-align:center;
	font-family: 'Russo One', sans-serif;
	background-color: ghostwhite;
	margin:0;
	width:100%;
}
#txt {text-shadow: 2px 2px #000;}

#txt, h2{
	color:ghostwhite;
	font-size:2em;
	font-family: 'Russo One', sans-serif;
	max-height: 25px;
	white-space: nowrap;
}

   
.content {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	
}

.tourney {
	height: 90vh;
	width: 70%;
	padding: 5px;
	
}
.next {
	max-width: 9%;
	top: 50px;
	position: relative;
	margin-right: 10px;
}
.current {
	max-width: 15%;
	top: 50px;
	position: relative;
	margin-right: 20px;
}

ul {
	top:20px;
	color:#ff1900;
	list-style-type: none;	
	font-size:1.5em;
	padding:0;
}

.bracket-svg {width:100%;}
#bottom_bar {display:none !important;}
	
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {}
