/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
body { 
	position:fixed; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	background-image: url("img/girl_b.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Russo One', sans-serif;
	height: 100vh;
	margin:0;
	}
p{
	color:#ff1900;
	font-size:2em;
	text-align:left;
	margin:0;
}
h1 {
	top:0;
	position:fixed;
	color:ghostwhite;
	font-size:2.5em;
	text-align:center;
	font-family: 'Russo One', sans-serif;
	background-color: #ff1900;
	margin:0;
	width:100%;
}
#txt {
	text-shadow: 2px 2px #000;
	padding-left:20px;
}

#txt, h2{
	color:ghostwhite;
	background-color: #ff1900;
	font-size:2em;
	font-family: 'Russo One', sans-serif;
	max-height: 25px;
	white-space: nowrap;
}

   
.content {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	
}

.tourney {
	
	height: 93vh;
	width: 70%;
	padding: 0px;
	padding-top:50px;
	
}
.next {
	max-height: 60%;
	width: 100%;
	top: 0px;
	position: relative;
	margin-right: 10px;
	background-color: #ff1900;
}
.current {
	max-height: 40%;
	width: 100%;
	top: 0px;
	position: relative;
	margin-right: 20px;
	background-color: #ff1900;
}

#sidebar {
	width:29%;
	position:fixed;
	right: 0;
	margin:0;
	padding-top:30px;
}

#bottom {
	position:fixed;
	bottom: -25px;
	width:100%;
	padding-bottom:0;
}

#adds {
	position:relative;
	color:ghostwhite;
	padding-left:200px;
	bottom: 33px;
	
}

ul {
	top:20px;
	color:ghostwhite;
	list-style-type: none;	
	font-size:1.5em;
	padding:0;
}

.bracket-svg {width:100%;}

	
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {}
